body {
    background-color: beige;
}
#menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    margin-right: 50px;
}
#registration {
    text-align: center;
    font-size: 18px;
    display: grid;
}
#error_p {
    text-align: center;
    font-size: 18px;
    color: red;
}
#username {
    width: 20%;
    margin-left: 40%;
}
#password {
    width: 20%;
    margin-left: 40%;
}
button {
    width: 20%;
    margin-left: 40%;
    height: 30px;
    background-color: green;
    color: white;
    border-color: none
    ;
}


