body {
    background-color: beige;
}
#menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    margin-right: 50px;
}
#registration {
    text-align: center;
}